subsystem/src/main/resources/schema/wildfly-liquibase-subsystem_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:com.github.jamesnetherton.liquibase:1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="subsystem" type="urn:subsystemType" xmlns:urn="urn:com.github.jamesnetherton.liquibase:1.0"/>
    <xs:complexType name="databaseChangeLogType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
                <xs:attribute type="xs:string" name="datasource"/>
                <xs:attribute type="xs:string" name="contexts"/>
                <xs:attribute type="xs:string" name="labels"/>
                <xs:attribute type="xs:boolean" name="fail-on-error"/>
                <xs:attribute type="xs:string" name="host-excludes"/>
                <xs:attribute type="xs:string" name="host-includes"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="subsystemType">
        <xs:sequence>
            <xs:element type="urn:databaseChangeLogType" name="databaseChangeLog" xmlns:urn="urn:com.github.jamesnetherton.liquibase:1.0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>